<!DOCTYPE html>
<html>
  <head>
    <title>Carmatec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="ds-no-transition">
    <div class="overlay"></div>
    <div id="wrapper" style="padding-top: 130px;">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
  <script type="text/javascript">
   $(function(){
      $('form.material').materialForm();
       if($('.yesaccount').is(':checked')){
         $('.accountNumber').parent().fadeIn(200);    
       }else{
         $('.accountNumber').parent().fadeOut(200);      
       }
      $('.yesaccount,.noaccount').click(function(){
         $('.accountNumber').parent().fadeToggle(200);  
      });
      $('.file').click(function(){
          $('.fileupload').click();       
      }); 
      $('.fileupload').on('change', function() {
         $('.file').addClass('filled').val($('.fileupload')[0].files[0].name);
      });
      $('.file').parent().append('<i class="fa fa-upload" aria-hidden="true"></i>');       
    });
  </script>
</html>
